@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  font-family: 'Courier New', Courier, monospace !important;
  justify-content: center;
  align-items: center;
  background-image:url('../img/books-background.jpeg');
}

/* .container {
  display: flexbox;
  margin:auto;
  justify-content: center;
  align-items: center;
} */

.button.is-primary {
  background-color: #B7B7A4 !important;
}


h1 {
  font-size: xx-large;
  font-weight: bolder;
  color: inherit  !important;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: inherit !important;
}

.title-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  background-color: #B7B7A4;
  color: #FFE8D6;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 10px auto 0;
}

.navbar {
  background-color: #FFE8D6 !important;
}

#registerForm {
  font-size: larger;
  color: #ffe8d6;
  padding-top: 300px;
}

#registerDiv {
  display: flex;
  align-items: center;
  justify-content: center; 
  justify-self: center;
}

#loginForm {
  margin:auto;
  font-size: larger;
  font-size: larger;
  color: #ffe8d6;
  padding-top: 300px;
  background-color: #6B705C;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  border-style:solid;
  border-width: 5px;
  border-color: #FFE8D6;
  justify-content: center;
  text-align:right;
  align-content: center;
  align-items: center;
}

#loginDiv {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center; 
  justify-self: center;
}

#container-fluid {
  display:flex;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 50px;
}

#listingForm {
  display: flexbox;
  margin: 0 auto;
  font-size: larger;
  color: #ffe8d6;
  padding-top: 300px;
  background-color: #6B705C;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  border-style:solid;
  border-width: 2px;
  border-color: #FFE8D6;
  justify-content: center;
  text-align:right;
  align-content: center;
  align-items: center;
}



.card {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  
  /* border-style: solid;
  border-width: 5px;
  border-color: A68A64;
  border-radius: 10px 10px 0px 0px; */
}

.card-content {
  flex-grow: 1;
  background-color: antiquewhite;
  /* border-style: none solid none solid; 
  border-width: 2px;
  border-color: A68A64; */
  /* border-radius: 10px 10px 0px 0px; */
}

.card-image img {
  position: relative;
  z-index: 1;
  object-fit: contain;
  object-position: center center;
 
}

.card-image{
  position: relative;
  background-size: cover;
  background-position: center center;
}

.card-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.card-footer {
  background-color: antiquewhite;
  /* border-radius: 0px 0px 0px 10px;
  border-style:solid;
  border-width: 5px;
  border-color: #6B705C; */
}

.columns {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.column {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

.is-info {
  background-color: 80c2af !important;
}

.tile.is-ancestor {
 padding-top: 200px;
}

.tile.is-child.box {
  background-color: #B7B7A4;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* UNCOMMENT WHEN DISCUSSED WITH TEAM */
/* footer {
  margin: 10px 10px 10px 10px;
} */

.card-footer-item {
  font-family: 'Courier New', Courier, monospace !important;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-style:solid;
  border-radius: 0px 0px 0px 0px;
  border-width: 2px;
  border-color: #B7B7A4;
}
#searchButton {
  /* background-color: antiquewhite !important; */
}

#bookPicLabel {
  font-size: 19.2px;
}
.button {
  font-family: 'Courier New', Courier, monospace !important;
  justify-content: center;
  align-items: center;
}

#createListing {
  font-family: 'Courier New', Courier, monospace !important;
  justify-content: center;
  align-items: center;
}
#addFavs {
  font-family: 'Courier New', Courier, monospace !important;
  justify-content: center;
  align-items: center;
}